.simulation-board {

  width: 60%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #7FAD71;
  
  &__row {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    background: #B0E46A;
  }
  
  &__column {
    border: 1px solid #7FAD71;
    flex: 1;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.2rem;
  } 

  &__pokemon-image {
    display: block;
    max-width: 100%;
    height: auto;
  }
    
}